body {
  margin: 0;
  background-color: rgb(235, 230, 230);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  width: 400px;
  height: 450px;
  background-color: #6ee5f9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
  border-radius: 10px;
  box-shadow: 8px 8px 20px 5px #00000033;
}

.input {
  width: 70%;
  height: 40px;
  text-align: center;
  border: none;
  font-size: 16px;
}

.input:focus {
  background-color: rgb(201, 228, 236);
  transition: 0.3s;
}

.input::placeholder {
  font-weight: bold;
}

.button {
  cursor: pointer;
  height: 150px;
  width: 150px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px #00000033;
}

.button:active {
  background-color: rgb(252, 242, 105);
}

.nombrePokemon {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
}
